body 

{background-color: #00000;
	
font-size: 90%;
font-family: Arial, Helvetica, sans-serif;;
}




p.text {
 width: 485px;
 background: #999999; 
 padding: 8px; 
 border: 1px solid black; 
 float: left;
 margin-left: 20px;
 

}


p.text2 {
 width: 70px;
 font-weight: bold;
 background: #d59898; 
 padding: 8px; 
 border: 1px solid black; 
 float: left;
 margin-left: 20px;
 

}