body 

{background-color: #00000;
	
font-size: 90%;
font-family: Arial, Helvetica, sans-serif;;
}




p.text {
 width: 400px;
 background: #9e9d9d; 
 padding: 8px; 
 border: 1px solid black; 
 float: left;
 margin-left: 20px;
 

}


}